<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>


<header th:insert="blocks/header :: header"></header>

<div class="container mt-5  mb-5">
    <h1>Add Article</h1>
    <form action = "/blog/add" method="post">
        <input type = "text" name ="titile" placeholder="title" class="form-control"><br>
        <input type = "text" name ="anons" placeholder="anons" class="form-control"><br>
        <textarea type = "text" name ="full_text" placeholder="full text" class="form-control"></textarea><br>
        <button type ="submit" class="btn btn-success">Add article</button><br>
    </form>


</div>

<footer th:insert="blocks/footer :: footer"></footer>
</div>

</body>
</html>